In [2]:
import random
import sklearn
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


# frameworks for ML
from sklearn.pipeline import make_pipeline


# transformers for category variables
from sklearn.preprocessing import LabelBinarizer
from sklearn.preprocessing import MultiLabelBinarizer
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder


# transformers for numerical variables
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import Normalizer


# transformers for combined variables
from sklearn.decomposition import PCA
from sklearn.preprocessing import PolynomialFeatures


# user-defined transformers
from sklearn.preprocessing import FunctionTransformer


# classification models
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

In [73]:
train_file = './data/loan_approval.csv'
train_data = pd.read_csv(train_file)
train_data

    ID     Age Work House     loan approval
0    1   Young   No    No     Fair       No
1    2   Young   No    No     Good       No
2    3   Young  Yes    No     Good      Yes
3    4   Young  Yes   Yes     Fair      Yes
4    5   Young   No    No     Fair       No
5    6  Middle   No    No     Fair       No
6    7  Middle   No    No     Good       No
7    8  Middle  Yes   Yes     Good      Yes
8    9  Middle   No   Yes  perfect      Yes
9   10  Middle   No   Yes  perfect      Yes
10  11     Old   No   Yes  perfect      Yes
11  12     Old   No   Yes     Good      Yes
12  13     Old  Yes    No     Good      Yes
13  14     Old  Yes    No  perfect      Yes
14  15     Old   No    No     Fair       No

In [74]:
dum = pd.get_dummies(train_data)
dum

,ID,Age_Middle,Age_Old,Age_Young,Work_No,Work_Yes,House_No,House_Yes,loan_Fair,loan_Good,loan_perfect,approval_No,approval_Yes
0,1,0,0,1,1,0,1,0,1,0,0,1,0
1,2,0,0,1,1,0,1,0,0,1,0,1,0
2,3,0,0,1,0,1,1,0,0,1,0,0,1
3,4,0,0,1,0,1,0,1,1,0,0,0,1
4,5,0,0,1,1,0,1,0,1,0,0,1,0
5,6,1,0,0,1,0,1,0,1,0,0,1,0
6,7,1,0,0,1,0,1,0,0,1,0,1,0
7,8,1,0,0,0,1,0,1,0,1,0,0,1
8,9,1,0,0,1,0,0,1,0,0,1,0,1
9,10,1,0,0,1,0,0,1,0,0,1,0,1
10,11,0,1,0,1,0,0,1,0,0,1,0,1
11,12,0,1,0,1,0,0,1,0,1,0,0,1
12,13,0,1,0,0,1,1,0,0,1,0,0,1
13,14,0,1,0,0,1,1,0,0,0,1,0,1
14,15,0,1,0,1,0,1,0,1,0,0,1,0

In [75]:
dummy_file = './data/approval_dumy.csv'
dum.to_csv(dummy_file)

In [67]:
age_map = {'Young': 0, 'Middle': 1, 'Old': 2}
train_data['Age'] = train_data['Age'].map(age_map)

YN_map = {'No':0, 'Yes':1}
train_data['Work'] = train_data['Work'].map(YN_map)
train_data['House'] = train_data['House'].map(YN_map)
train_data['approval'] = train_data['approval'].map(YN_map)

loan_map = {'Fair':0, 'Good':1, "perfect":2}
train_data['loan'] = train_data['loan'].map(loan_map)

train_data

    ID  Age  Work  House  loan  approval
0    1    0     0      0     0         0
1    2    0     0      0     1         0
2    3    0     1      0     1         1
3    4    0     1      1     0         1
4    5    0     0      0     0         0
5    6    1     0      0     0         0
6    7    1     0      0     1         0
7    8    1     1      1     1         1
8    9    1     0      1     2         1
9   10    1     0      1     2         1
10  11    2     0      1     2         1
11  12    2     0      1     1         1
12  13    2     1      0     1         1
13  14    2     1      0     2         1
14  15    2     0      0     0         0

In [68]:
# 删除需要的列
train_data.drop(['ID'], axis=1, inplace=True)
train_data

    Age  Work  House  loan  approval
0     0     0      0     0         0
1     0     0      0     1         0
2     0     1      0     1         1
3     0     1      1     0         1
4     0     0      0     0         0
5     1     0      0     0         0
6     1     0      0     1         0
7     1     1      1     1         1
8     1     0      1     2         1
9     1     0      1     2         1
10    2     0      1     2         1
11    2     0      1     1         1
12    2     1      0     1         1
13    2     1      0     2         1
14    2     0      0     0         0

In [69]:
# 弹出Label列
label_data = train_data.pop('approval')
label_data

0     0
1     0
2     1
3     1
4     0
5     0
6     0
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    0
Name: approval, dtype: int64

In [70]:
train_data

    Age  Work  House  loan
0     0     0      0     0
1     0     0      0     1
2     0     1      0     1
3     0     1      1     0
4     0     0      0     0
5     1     0      0     0
6     1     0      0     1
7     1     1      1     1
8     1     0      1     2
9     1     0      1     2
10    2     0      1     2
11    2     0      1     1
12    2     1      0     1
13    2     1      0     2
14    2     0      0     0